<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"></li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <i class="fa-regular fa-house"></i> <a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Courses</li>
    </ol>
</nav>