<section class="dashboard">
    <div class="container">
        <img src="images/sections/dashboard.svg" alt="">
        <div class="content">
            <h2>Manage your work</h2>
            <div class="item">
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="item">
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="item">
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="item">
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <div class="item">
                <i class="fa-sharp fa-regular fa-circle-check"></i>
                <p>Powerful project management</p>
            </div>
            <a href="" class="btn-theme-s learn-more">Learn More <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</section>