<section class="download-app">
    <div class="container">
        <img src="images/sections/mobile-view.png" alt="">
        <div class="content">
            <h2>Download Our App for Any Devices:</h2>
            <div class="box">
                <img src="images/sections/appstore.svg" alt="">
                <div class="box-content">
                    <span>App Store</span>
                    <div class="rating">
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                    </div>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K + reviews</p>
                </div>
            </div>
            <div class="box">
                <img src="images/sections/googleplay.svg" alt="">
                <div class="box-content">
                    <span>App Store</span>
                    <div class="rating">
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                        <i class="fa-solid fa-star-sharp"></i>
                    </div>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187K + reviews</p>
                </div>
            </div>
        </div>
    </div>
</section>