<footer>
    <div class="container">
        <div class="social-media social-media-icons">
            <a class="btn-theme-secondary btn-social" href="#"></a>
            <a class="btn-theme-secondary btn-social" href="#"></a>
            <a class="btn-theme-secondary btn-social" href="#"></a>
            <a class="btn-theme-secondary btn-social" href="#"></a>
        </div>
        <p>&copy; @DateTime.Now.Year Silicon by CreatexStudio. All rights reserved. <span>Pulvania rune condemtied.......</span></p>
    </div>
</footer>

