<section class="get-started">
    <div class="container">
        <div class="content">
            <p>Ready To Get Started?</p>
            <h2>Take your <span class="skills">Skills</span> to the Next Level</h2>
            <a href="#" class=" btn btn-short btn-theme">Work with us</a>
        </div>
        <img src="images/sections/get-started.svg" alt="" class="img-get-started">
    </div>
</section>