<section class="newsletters">
    <div class="container">
        <div class="heading">
            <h2>Don't want to miss Anything</h2>
            <img src="images/sections/arrow_curly.svg" alt="">
        </div>
        <div class="content">
            <h5 id="">Sign up for Newsletters</h5>
            <form action="">
                <div class="input-group" id="daily">
                    <input type="checkbox">
                    <label for="daily">Daily Newsletter</label>
                </div>
                <div class="input-group" id="advertising">
                    <input type="checkbox">
                    <label for="advertising">Advertising Updates</label>
                </div>
                <div class="input-group" id="event">
                    <input type="checkbox">
                    <label for="event">Event Updates</label>
                </div>
                <div class="input-group" id="startups">
                    <input type="checkbox">
                    <label for="startups">Startups Weekly</label>
                </div>
                <div class="input-group" id="review">
                    <input type="checkbox">
                    <label for="review">Week in Review</label>
                </div>
                <div class="input-group" id="podcasts">
                    <input type="checkbox">
                    <label for="podcasts">Podcasts</label>
                </div>
            </form>
        </div>
        <div class="email-field">
            <input type="text" id="email" class="fa-light fa-envelope" placeholder="&#xf003; Your Email">
            <a href="#" id="button" class="btn-theme">Subscribe*</a>
        </div>
        <p>*Yes, I agree to the <span>terms</span> and <span>privacy policy</span></p>
    </div>
</section>