<div class="pagination">
    <a class="pag-item" href="#">&laquo;</a>
    <a class="pag-item" href="#">1</a>
    <a class="pag-item" class="active" href="#">2</a>
    <a class="pag-item" href="#">3</a>
    <a class="pag-item" href="#">4</a>
    <a class="pag-item" href="#">&raquo;</a>
</div>