<section class="work-tools">
    <div class="container">
        <div class="heading">
            <h2>Integrate Top Work Tools</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
        </div>
        <div class="content">
            <div class="box">
                <img src="images/sections/Google.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/Zoom.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/Slack.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/gmail.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/Trello.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/MailChimp.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/Dropbox.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
            <div class="box">
                <img src="images/sections/Evernote.svg" alt="">
                <p>Lorem ipsum magnis peritum Lorem ipsum magnis peritum.</p>
            </div>
        </div>

    </div>
</section>