<section class="courses">
    <div class="container">
        <div class="section-top">

            <div class="top-nav">
               <Partial name="~/Views/Shared/Partials/_BreadcrumbPartial.cshtml" />
               
            </div>


            <div class="top-search">
                <div class="heading">
                    <h1>Courses</h1>
                </div>
                <div class="input-fields">

                    <div class="dropdown">
                        <button class="btn dropdown-btn">All Categories &#11167; </button>
                        <div class="dropdown-menu" aria-labelledby="dropbownMenuButton">
                            <a href="#" class="dropdown-item">Category 1</a>
                            <a href="#" class="dropdown-item">Category 2</a>
                            <a href="#" class="dropdown-item">Category 3</a>
                        </div>
                    </div>


                    <div class="input-user">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="      Search courses">
                    </div>
                </div>
            </div>
        </div>

        <div class="content">


            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="hover-content">
                    <div class="img-container">
                        <img class="img-course" src="images/sections/course_fullstack.png" alt="">
                        <span>Best Seller</span>
                        <img class="icon" src="images/sections/img_save.svg" alt="">
                    </div>

                    <div class="box-content">
                        <div class="content-top">
                            <h5 class="heading-link">Fullstack Web Developer Course from Scratch</h5>
                            <p>By Robert Fox</p>
                            <span class="price">$12.50</span>
                        </div>
                    </div>
                    <div class="content-bottom">
                        <div class="estimated-time">
                            <i class="fa-sharp fa-regular fa-timer"></i>
                            <p>220 Hours</p>
                        </div>
                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>94% (4.2K)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Partial name="~/Views/Shared/Partials/_PaginationPartial.cshtml" />
    </div>
</section>

                            
<Partial name="~/Views/Shared/Partials/_GetStartedCoursesPartial.cshtml" />