.newsletters{
    background-color: $gray-100;
    padding-block: 8rem;
    .container{
        align-items: baseline;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 1.4rem;
    }
        .heading{
            display: flex;
           

            h2{
                @include h1;
            }
            img{
                
            }
        }



        .content{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            
            h5{
                @include h5;
            }
            form{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                grid-template-areas: "daily advertising review"
                                    "event startups podcasts";
                gap: 0.5rem;


                .input-group{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                }

            }



            #daily{grid-area: daily }
            #advertising{grid-area: advertising }
            #event{grid-area: event }
            #startups{grid-area: startups }
            #review{grid-area: review }
            #podcasts{grid-area: podcasts }
        }




        .email-field{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
  


            .fa-light{
                margin-right: 19px;
                color: $gray-600;
                font-size: 0.8rem;
            }

            #email {
                width: 30rem;
                padding: 1rem;
                color: $gray-500;
                border-radius: 7px;
                border: 1px solid $gray-500;


            }
            #button{
            }
            p{
                @include text-s;
                color: $gray-600;
            }
        }
    }







@media (min-width: 1200px) {
    .newsletters{
        .container{
            margin: 0 auto;
            .heading{
                display: flex;
    
                h2{
                    
                }
                img{
                    
                }
            }
            .content{
                h3{
    
                }
                form{
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-template-rows: auto auto;
    
                    .input-group{
    
                    }
                    .email-field{
    
                    }
                }
            }
        }
    }
}